@font-face{
    font-family: pawWow;
    src: url(PawWowl.otf);
}

@font-face{
    font-family: goodBoy;
    src: url(GoodBoy.ttf)
}

body {
    background: #8F7866;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 99vh;
    font-family:   goodBoy, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #F3F5F7;
    text-shadow: 0 0 5px #1D2026;
}

h1 {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 50px;
}

h2 {
    font-family: pawWow;
    font-size: 75px;
    margin-top: 0;
    margin-bottom: 50px;
}

button {
    font-family:   goodBoy;
    font-size: 24px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #F3F5F7;
    text-shadow: 0 0 5px #1D2026;
    width: fit-content;
    min-width: 75px;
    margin: 0 5px 20px 10px;
    border-radius: 25px;
    transition: transform 0.2s;
}

button:hover {
  transform: translateY(-1px);
}

#increment-btn {
    background: #bbff84aa;
}


#increment-btn:hover {
  background: #bbff84bb;
}

#save-btn {
  background: #ff6f59aa;
}

#save-btn:hover{
  background: #ff6f59bb;
}


#save-el {
    font-size: 21px
}

.wrapper{
    border-radius: 10px;
    padding: 10px 50px 50px;
    min-height: 400px;
    max-height: 550px;
    max-width: fit-content;
     background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.4), 
          rgba(0, 0, 0, 0.4)
        ),
        /* bottom, image */
        url("dog-bg.jpg");
    background-size: cover;
    background-position: center;
    
}